<h1>List of Rides Needed</h1>
  <%# <% if @rides.active = 0 %>
    <%# <p><strong>At the moment, there aren't any hitchhikers looking for a ride.</strong></p> %>
  <%# <% else %>
    <ol>
    <% @rides.each do |r| %>
    <%# SHOW HITCHHIKER.NAME and DRIVER.NAME %>
      <% if r.hitchhiker_user_id != @current_user.id%>
        <% if r.ride_still_needed? %>
        <p><strong>From </strong><%= r.departure %><strong> to </strong><%= r.destination %> </p>
        <p><%= link_to "Hitchhiker #{r.hitchhiker_user.name}'s Ride Request Details", ride_path(r) %></a></p>
        <% end%>
      <% end %>
    <% end %>
  <%# <% end %>
</ol>
